PORT=3000

NODE_ENV=production




# JWT Configuration

JWT_SECRET=K8mN2pQ5rT9vW3xY7zA1bC4dE6fG8hJ0kL2mN4pQ6rS8tU0vW2xY4zA6bC8dE0fG2h




# Zoho API Configuration

ZOHO_CLIENT_ID=1000.JM03A7ZYGQPKYEW94IGAVMZTG4MIOZ

ZOHO_CLIENT_SECRET=69175ba417ced75857561a5c22939968aa7d77c6a7

ZOHO_REFRESH_TOKEN=1000.514a70c018808ac908bbeb337373db39.c09e2b15f23df02694ed6e0df4941e7c

ZOHO_REDIRECT_URI=https://api-portaldoconsultor.tegrapharma.com/auth/callback




# Frontend URL

FRONTEND_URL=https://portaldoconsultor.tegrapharma.com/

